# Carpetas virtualenv
venv/
env/
ENV/

ros2_ps5_stereo/calibration/calibrationdata/
ros2_ps5_stereo/calibration/calibrationdata.tar.gz

# Archivos temporales de Python
__pycache__/
*.py[cod]

# Archivos de configuración del editor
.vscode/

# Logs
*.log


